<div class="flex flex-col p-4 bg-white border border-gray-200 rounded-2xl  transition-all duration-300">
    <div class="flex items-center justify-between mb-3">
        <div class="w-10 h-10 rounded-xl flex items-center justify-center" [ngClass]="colorClass()">
            <ion-icon [name]="icon()" class="text-xl"></ion-icon>
        </div>
        @if (isLive()) {
        <div class="flex items-center gap-1.5 px-2 py-1 rounded-full bg-green-50">
            <div class="w-1.5 h-1.5 rounded-full animate-pulse" [ngClass]="dotColor()"></div>
            <span class="text-[10px] font-bold text-green-600 uppercase tracking-wider">Live</span>
        </div>
        }
    </div>

    <span class="text-xs font-bold text-gray-400 uppercase tracking-widest">{{ label() }}</span>
    <h2 class="text-xl font-bold text-gray-900 mt-0.5 tracking-tight">{{ value() }}</h2>

</div>